.add-producer-form {
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 100%; /* Match the width of other components */
    max-width: 800px; /* Limit the maximum width */
    margin: 1% auto; /* Reduce the top margin to move the form higher */
}

.add-producer-form input {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.add-producer-form button {
    color: #fff;
    font-size: 22px;
    padding: 15px 30px;
    background-color: #28a745;
    border-radius: 5px;
    display: block;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-producer-form button:hover {
    background-color: #555;
    color: #ff6347;
    transform: scale(1.05);
}

.add-producer-form span {
    color: red;
    margin-top: 10px;
}
